*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: darkgrey;
    color:black;
    line-height: 1.5;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header{
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: space-between;
    background:#130241;
    color:rgb(255, 255, 255);

}

.header h1{
position: relative;
font-size: 40px;
padding:10px;
margin-top: 3%;

}

.header nav{
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    float: right;
    font-size: 40px;
}
.header nav ul li{
    display: inline-flex;
    flex-wrap: flex;
    margin-left: 20px;
}

.body h2,h3{
    display: flex;
    font-size: 30px;
    margin: 30px;
    border-style: solid;
}
.body h2, h3{
    float: left;
    display: flex;
}

.footer{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;
    padding: 40px;
    background:#130241;
    color:rgb(255, 255, 255);
}
.footer h4{
    display:flex;
font-size: 40px;

padding:10px
}
.footer section{
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    font-size: 40px;
}
.footer section ul li{
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: 30px;
}

@media screen and (max-width: 990px) {
    .header,.footer,body,.header h1, .header nav ul li{
      width: 100%;
    }
}  
@media screen and (max-width: 750) {
.header,.footer,body, .header h1,.header nav ul li{
    width: 100%;
}
}
.images{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    padding: 50px;
    margin: 70px;

    

}

.heading{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
    box-shadow: 10px 10px 5px rgb(114, 113, 113);

}
.game{
    width: 500px;
    height: 380px;
    border-radius: 10%;
    box-shadow: 10px 10px 5px rgb(114, 113, 113);
    margin: 20px;
}
.art{
    width: 450px;
    border-radius: 10%;
    box-shadow: 10px 10px 5px rgb(114, 113, 113);
    margin: 20px;
}
.music{
    width: 500px;
    height: 390px;
    border-radius: 10%;
    box-shadow: 10px 10px 5px rgb(114, 113, 113);
    margin: 20px;
}
.model{
    width: 450px;
    border-radius: 10%;
    box-shadow: 10px 10px 5px rgb(114, 113, 113);
    margin: 20px;
}
